.sign-in {
	width: 380px; // 30vw?
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 30px;
	}

	span {
		font-size: 25px;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}
}
